@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');


#coin{
    background: none;
    border: none;

    width:410px;
    height:410px;
    padding:0;

    animation: rotate 25s infinite;
    animation-timing-function: linear;

}

@keyframes rotate {
  100% {transform: rotate(360deg);}
}

#coin img{

    width:400px;
    height:400px;
    transition:20ms;

}

#coin:active img{

    width:375px;
    height:375px;

}

body{

    background-image: url("Assets/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    margin: 0;

    display:flex;
    
}

#clickerdiv {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

html{

    height:100%

}


#coindiv{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width:100%;


}

#scorediv{

    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    width:100%;

    font-size: 40px;
    font-family: "Pirata One", system-ui;

}

#upgradediv{

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 33%;

    background-image: url("Assets/upgradesbackground.png");
    
    
    overflow-y:scroll;
    scrollbar-width: none;


}

#upgradediv::-webkit-scrollbar {
  display: none;
}

.upgrade img{

    width:50px;
    height:50px;
    margin-right:10px;

}

.upgrade{

    display: flex;
    align-items: center;
    width:90%;
    margin:10px;
    
    background-color: rgba(255, 255, 255, 0.74)


}