@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

#coin{
    background: transparent;
    border: none;

    width:400px;
    height:400px;
    padding:0;

    animation: rotate 25s infinite;
    animation-timing-function: linear;

    border-radius: 50%;

}

@keyframes rotate {
  100% {transform: rotate(360deg);}
}

#coin img{

    width:400px;
    height:400px;
    transition:20ms;
    user-select: none;
    -webkit-user-drag: none;

}

#coin:active img{

    width:375px;
    height:375px;


}

body{

    background-image: url("Assets/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    margin: 0;

    display:flex;
    font-family: "Pirata One", system-ui;

    
}

#clickerdiv {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

html{

    height:100%

}


#coindiv{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width:100%;


}

#scorediv{

    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* height:100%; */
    width:100%;

    font-size: 40px;

}

#upgradediv{

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 33%;

    background-image: url("Assets/upgradesbackground.png");
    
    
    overflow-y:scroll;
    scrollbar-width: none;


}

#upgradediv::-webkit-scrollbar {
  display: none;
}

.upgrade img{

    width:50px;
    height:50px;
    margin-right:10px;

}

.upgrade{

    display: flex;
    align-items: center;
    width:90%;
    margin:10px;
    
    background-color: rgba(255, 255, 255, 0.74);
    font-family:"Playfair Display";
    font-weight: 600;

    background-color: rgba(129, 129, 129, 0.74);

}

.owned{

    font-size: 75px;
    margin-left: auto;
    margin-right: 10px;

}

#score{
    margin: 0%;
    margin-top: 25px;
}

#scorepersecond{

    margin: 0%;
    font-size: 20px;
    font-family: "Playfair Display";
}